<button mat-icon-button matTooltip="Speichern unter..." [matMenuTriggerFor]="saveMenu" color="primary">
    <mat-icon>save_alt</mat-icon>
</button>
<mat-menu #saveMenu="matMenu">
    <button mat-menu-item (click)="onSave('json')">
        <mat-icon class="icon-json">data_object</mat-icon>
        <span>Save as <strong>JSON</strong></span>
    </button>
    <button mat-menu-item (click)="onSave('pnml')">
        <mat-icon class="icon-pnml">account_tree</mat-icon> <span>Save as <strong>PNML</strong></span>
    </button>
</mat-menu>
