<h2 mat-dialog-title>{{ data.title | translate }}</h2>
<mat-dialog-content>
    <p>{{ data.message | translate }}</p>
    <div class="marking-container">
        @for (item of currentDialogMarking; track item) {
            <div class="marking-entry">
                <span>{{ item.markingKeyString }}: {{ item.markingValueString }}</span>
                <!-- <div class="button-container"> -->
                <!-- <mat-label>Marking</mat-label> -->
                <input type="text" matInput [(ngModel)]="inputtedMarkingValueString"/>
                <!-- <button mat-icon-button (click)="incrementMarking(item.key)" class="marking-button">
                        <mat-icon>add</mat-icon> -->
                <!-- </button> -->
                <!-- <button
                        mat-icon-button
                        (click)="decrementMarking(item.key)"
                        class="marking-button"
                        [disabled]="item.value <= 0">
                        <mat-icon>remove</mat-icon>
                    </button> -->
                <!-- </div> -->
            </div>
        }
    </div>
</mat-dialog-content>
<!-- TODO Anpassen der Dialoge für Omega? -->
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="discard()">{{ 'CGMARKING_DIALOG.AUTOFILL' | translate }}</button>
    <button mat-flat-button color="primary" (click)="keep()">{{ 'CGMARKING_DIALOG.USERVALUE' | translate }}</button>
</mat-dialog-actions>
