<table class="firing-table">
    <thead>
        <tr>
            <th class="firing-sequence-th">Firing Sequence</th>
            <th class="transition-count-th">Transition Count</th>
            <th class="start-marking-th">Start Marking</th>
            <th class="end-marking-th">End Marking</th>
            <th class="delete-button-th">
                <button mat-icon-button color="warn" (click)="onDeleteAllEntries()" class="delete-all-entries-button">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (entry of firingEntries; track entry.id) {
            <tr>
                <td class="firing-sequence-td">
                    <ng-container *ngIf="!entry.isClosed; else displayFiringSequence">
                        <input type="text" [(ngModel)]="entry.firingSequence" id="firing-sequence-input"/>
                    </ng-container>
                    <ng-template #displayFiringSequence>
                        {{ entry.firingSequence }}
                    </ng-template>
                </td>
                <td class="transition-count-td">
                    <ng-container *ngIf="!entry.isClosed; else displayTransitionCount">
                        <input type="number" [(ngModel)]="entry.transitionCount" />
                    </ng-container>
                    <ng-template #displayTransitionCount>
                        {{ entry.transitionCount }}
                    </ng-template>
                </td>
                <td class="start-marking-td">
                    <ng-container *ngIf="!entry.isClosed; else displayStartMarking">
                        <input type="text" [(ngModel)]="entry.formattedStartMarking" />
                    </ng-container>
                    <ng-template #displayStartMarking>
                        {{ entry.formattedStartMarking }}
                    </ng-template>
                </td>
                <td class="end-marking-td">
                    <ng-container *ngIf="!entry.isClosed; else displayEndMarking">
                        <input type="text" [(ngModel)]="entry.formattedEndMarking" />
                    </ng-container>
                    <ng-template #displayEndMarking>
                        {{ entry.formattedEndMarking }}
                    </ng-template>
                </td>
                <td class="delete-button-td">
                    <ng-container *ngIf="entry.isClosed; else deleteButton">
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="onDeleteEntry(entry.id)"
                            class="delete-entry-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-container>
                    <ng-template #deleteButton>
                    </ng-template>
                </td>
            </tr>
        }
    </tbody>
</table>
